In [1]:
import pandas as pd

In [7]:
year = 2004

fpath = f"../data/norway_annual_output_data/teotil2_metals_results_{year}.csv"
df = pd.read_csv(fpath)
df = df.query("regine == '002.A51'")
cols = ['regine'] + [i for i in df.columns if i[-9:] == "hg_tonnes"]
df = df[cols]
df.T

                                   20286
regine                           002.A51
accum_all_point_hg_tonnes         0.5738
accum_all_sources_hg_tonnes     0.620369
accum_diff_hg_tonnes           0.0465689
accum_ind_hg_tonnes            2.001e-05
accum_ren_hg_tonnes              0.57378
local_all_point_hg_tonnes              0
local_all_sources_hg_tonnes  3.36557e-05
local_diff_hg_tonnes         3.36557e-05
local_ind_hg_tonnes                    0
local_ren_hg_tonnes                    0

In [8]:
year = 2005

fpath = f"../data/norway_annual_output_data/teotil2_metals_results_{year}.csv"
df = pd.read_csv(fpath)
df = df.query("regine == '002.A51'")
cols = ['regine'] + [i for i in df.columns if i[-9:] == "hg_tonnes"]
df = df[cols]
df.T

                                   20286
regine                           002.A51
accum_all_point_hg_tonnes       0.004051
accum_all_sources_hg_tonnes    0.0441182
accum_diff_hg_tonnes           0.0400672
accum_ind_hg_tonnes             0.000825
accum_ren_hg_tonnes             0.003226
local_all_point_hg_tonnes              0
local_all_sources_hg_tonnes  2.89569e-05
local_diff_hg_tonnes         2.89569e-05
local_ind_hg_tonnes                    0
local_ren_hg_tonnes                    0